.Interviews {
    
    display: flex;
    // justify-content: center;   
    flex-wrap: wrap;    
    
    &-title {
        @include title-format;  
    }

    &-image {
        width: 100%;
    }

    @media screen and (min-width: 768px){
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% repeat(3, 30%);

        &-title {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            margin-left: 60px;
        }

        &-Hopper {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        &-Bouman {
            grid-column: 2 / 3;
            grid-row: 2 / 3;  
        }

        &-Hamilton {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }

        &-Univac {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
        }

        &-Eniac {
            grid-column: 1 / 2;
            grid-row: 4 / 5;     
        }

        &-Kare {
            grid-column: 2 / 3;
            grid-row: 4 / 5;
        }
    }
}                                                        