$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@mixin font-family ($type-font) {
    @if $type-font == "sans" {
        font-family: 'IBM Plex Sans', sans-serif;        
        font-size: 16px;
    }
    @if $type-font == "mono" {
        font-family: 'IBM Plex Mono', monospace;        
        font-size: 16px;
    }
}