.Navigation {
    display: flex;    
    flex-wrap: wrap;         
    justify-content: space-between;
    align-items: center;

    &-logo {
        display: inline-block;
        width: em(24);
        height: em(24);
        padding: em(10) 0 em(10) em(16);
    }
        
    &-items {     
        // display: block;   
        margin: 0;
        padding-left: 0;    
        height: em(224); 
        width: em(320);       
        background: #0000EC;
        max-height: 0;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }
 
    &-item {                
        // list-style: none;
        &:hover {
            color:  #19225a;
            background: #FFFFFF;               
            border-radius: em(8) em(8);           
        }  
    }
    
    &-link {          
        padding: em(18) 0 em(16) em(16);
        display: block;      
        color:#FFFFFF;                  
        font-size: em(16);
        text-transform: uppercase;
        text-decoration: none;                                                     
        @include font-family("mono");        

        &:hover {
            color:  #0000EC;
            background: #FFFFFF;       
            border-radius: em(8) em(8);  
            @include font-family("mono-medium");               
            transition: all 0.4s ease;
        }      
    }

    &-actionCross {
        display: none;           
    }
    &-actionBars {        
        width: em(14);
        height: em(14);
        padding-right: em(19);            
        display: inline-block;        
    }

    &-hiddenCheckbox {
        display: none;
    }  
    
    &-hiddenCheckbox:checked ~ &-items {
        max-height: 100vh;           
    }

    &-hiddenCheckbox:checked ~ &-actionCross {
        // display: inline;
        display: inline-block;
        width: em(14);
        height: em(14);
        padding-right: em(16);            
    }

    &-hiddenCheckbox:checked ~ &-actionBars {
        display: none;
    }

    @media screen and (min-width: 768px) {                
        justify-content: space-between;    
        height: 80px;    

        &-hiddenCheckbox:checked ~ &-actionCross {
            display: none;
        }

        &-actionBars {
            display: none;             
        }        
    
        &-logo {
            display: inline-block;
            width: em(30);
            height: em(30);                   
        }
    
        &-hiddenCheckbox:checked ~ &-items {
            max-height: 50px;            
            width: initial;                   
            background: #FFFFFF;                        
            transition: none;
        }

        &-items {
            max-height: 50px;            
            width: initial;            
            background: #FFFFFF;                 
        }

        &-item {
            display: inline-block;                     
        }        

        &-link {
            display: inline-block;            
            color: rgba($color: #060A24, $alpha: 1.0);
            padding: 1em;
            margin: 0 em(5) 0 em(5);            

            &:hover {                
                border-radius: em(8) em(8);                     
                color: rgba($color: #00F3BB, $alpha: 1.0);
                text-decoration: line-through;  
                @include font-family("mono-medium");                
            }             

            &:active {                                
                color: rgba($color: #060A24, $alpha: 0.56);
                @include font-family("mono");                
            }
        }
    }
}